1. What are data structures, and why are they important?
- Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently.
- Data structures are important because following:

Efficient Data Management: They help organize data so operations like search, insert, update, and delete can be done quickly.

Optimized Performance: The right data structure can drastically improve the speed and performance of programs.

Real-World Applications:

- Search engines use trees and hash tables

- Social media apps use graphs to model user connections

- Operating systems use queues, stacks, and linked lists

2.  Explain the difference between mutable and immutable data types with examples.
- The difference between mutable and immutable is mutable can be changed after creation Immutable cannot be changed after creation .

Example(Mutable)
- List
- dict(dictionary)
- set

Example(Immutable)
- Int
- str(string)
- float
- tuples

3.What are the main differences between lists and tuples in Python?
- The main difference between lists and tuples in python is list are mutable it can be modified after creation, but tuples are  immutable it cannot be modified once created.

4. Describe how dictionaries store data?
- Dictionaries are unordered collections of data and are represented with curly brackets { } . Like lists, dictionaries are mutable(changeable) and indexed. With dictionaries, data is stored in a key:value format.

5. Why might you use a set instead of a list in Python?
- Sets and lists serve different purposes in Python, leading to situations where one is more suitable than the other. Sets are particularly useful when:
- Uniqueness is required
- Order is not important
- set operations are needed
- membership testing is important

6. What is a string in Python, and how is it different from a list?
- A string in Python is a sequence of characters enclosed in quotes.
It‚Äôs used to store and manipulate text.

| Feature        | **String**                      | **List**                                              |
| -------------- | ------------------------------- | ----------------------------------------------------- |
| **Content**    | Only characters/text            | Can hold any data types (e.g., int, str, float, etc.) |
| **Mutability** | ‚ùå Immutable (cannot be changed) | ‚úÖ Mutable (can be changed)                            |
| **Syntax**     | Enclosed in quotes: `"text"`    | Enclosed in brackets: `[1, 2, 3]`                     |
| **Use Case**   | Working with text               | Working with collections of data                      |


7. How do tuples ensure data integrity in Python?
- Tuples ensure data integrity by being immutable ‚Äî once a tuple is created, its contents cannot be modified, added or removed . This characteristic is crucial for maintaining the consistency and reliability of data, especially in scenarios where data should not be altered after its creation.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key-value pairs and allows fast access to values using their keys.

It works using two main steps:

Hashing: A function converts the key into a unique index (a number).

Storage: The value is stored at that index in a table (array-like structure).

9. Can lists contain different data types in Python?
- yes, lists contain different data types in python.Python lists are heterogeneous, meaning they can store a mix of different types of elements ‚Äî such as integers, strings, floats, other lists, even custom objects

10. Explain why strings are immutable in Python.
- In Python, strings are immutable, meaning once a string is created, you cannot change its content. This behavior is by design and offers several important benefits.

| Reason                         | Explanation                                                              |
| ------------------------------ | ------------------------------------------------------------------------ |
| ‚úÖ **Safety & Simplicity**      | Prevents accidental changes in code, especially when sharing string data |
| ‚úÖ **Hashability**              | Immutable strings can be used as **dictionary keys** or in **sets**      |
| ‚úÖ **Performance Optimization** | Python can **reuse** string objects in memory (string interning)         |
| ‚úÖ **Thread Safety**            | Immutable objects are safer in **multi-threaded programs**               |


11. What advantages do dictionaries offer over lists for certain tasks.

- dictionaries offer advantages over lists for certain tasks it is more efficient to use dictionaries for the searching of elements as it can be carried out in a much faster manner. Lists are used when it is important to maintain the order of the elements and dealing with data that may get changed in the future.

12. Describe a scenario where using a tuple would be preferable over a list.

- Use a tuple when you need to store a fixed collection of values that should not be changed ‚Äî ensuring data integrity and efficiency.

- Real-Life Example: Storing GPS Coordinates
Let‚Äôs say you‚Äôre building an app that tracks location:

13. How do sets handle duplicate values in Python.

- Sets in Python are designed to store only unique elements. When attempting to add a duplicate value to a set, it is automatically discarded, ensuring that the set maintains its uniqueness property. This behavior is fundamental to the nature of sets as unordered collections of distinct items.

14. How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries.

- The in keyword is used to check for membership, but its behavior depends on the data structure you're using.The in keyword in Python (and in some other programming languages) is a membership operator used to check if a value is present within a sequence, such as a list, tuple, string, or set. Its behavior can vary depending on the type of data structure being used.

15. Can you modify the elements of a tuple? Explain why or why not.

- No, you cannot modify the elements of a tuple in Python ‚Äî tuples are immutable.

 What Does Immutable Mean?
Once a tuple is created:

You can‚Äôt change its elements

You can‚Äôt add or remove items

You can‚Äôt reassign any item inside it

16. What is a nested dictionary, and give an example of its use case?

- A nested dictionary is a dictionary inside another dictionary.
It allows you to organize hierarchical or structured data.


| Use Case                  | Description                                          |
| ------------------------- | ---------------------------------------------------- |
| üìö **Student Database**   | Store details for each student and their subjects    |
| üè¢ **Employee Records**   | Keep personal info and job info in separate sections |
| üåê **JSON APIs**          | Most APIs return nested data structures              |
| üó∫Ô∏è **Geographical Data** | Countries ‚Üí States ‚Üí Cities                          |


17. Describe the time complexity of accessing elements in a dictionary.

- In Python, dictionaries are implemented using hash tables, which makes access very fast.

- Average Case Time Complexity: O(1)
This means:

Accessing an element by key is done in constant time

It doesn‚Äôt depend on the size of the dictionary .

18. In what situations are lists preferred over dictionaries.

- Though dictionaries are powerful for key-value mapping, lists are better suited for certain scenarios. Here‚Äôs when you should choose a list instead of a dictionary:

| Situation                      | Why List is Preferred                                                                                                                                               |
| ------------------------------ | ------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| **Ordered Data Needed**        | Lists **maintain order** (insertion order) naturally, useful when order matters. Dictionaries maintain order since Python 3.7, but lists are simpler for sequences. |
| **Duplicate Elements Allowed** | Lists can contain **duplicates**; dictionaries require unique keys.                                                                                                 |
| **Sequential Access**          | When you want to process items in a **specific sequence** using indices (`for i in range(len(list))`).                                                              |
| **Index-Based Access**         | Lists support **direct indexing** (`my_list[0]`), dictionaries require keys.                                                                                        |
| **Simple Collections**         | For storing a **collection of items** without associated keys (e.g., list of names or numbers).                                                                     |
| **Appending/Extending Items**  | Lists offer efficient appending (`list.append()`) and slicing.                                                                                                      |
| **Iteration Over Values Only** | When you only care about values, not key-value pairs.                                                                                                               |
19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- Historically:
Before Python 3.7, dictionaries did not maintain any order of keys.
This means keys could appear in any order when you loop through them or print the dictionary.

- From Python 3.7 Onwards:
Dictionaries preserve insertion order as an official language feature.
So, they remember the order you added items ‚Äî but still, they are fundamentally hash-based.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

- In Python, lists access elements by index, while dictionaries access elements by key. Lists are ordered sequences, so you can get the element at a specific position using an integer index (starting from 0). Dictionaries store data as key-value pairs, so you can retrieve the value associated with a particular key, which can be of various data types.

1. Write a code to create a string with your name and print it.

In [2]:
# Create a string with your name
name = "Yuvraj chaudhary"

# Print the string
print(name)

Yuvraj chaudhary

2. Write a code to find the length of the string "Hello World"

In [3]:
my_string = "Hello World"

length = len(my_string)

print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [5]:
my_string = "Python Programming"

# Slice the first 3 characters
first_three = my_string[:3]

print(first_three)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [6]:
my_string = "hello"
upper_string = my_string.upper()

print(upper_string)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [7]:
my_string = "I like apple"

# Replace "apple" with "orange"
new_string = my_string.replace("apple", "orange")

print(new_string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [8]:
numbers = [1, 2, 3, 4, 5]

print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [9]:
numbers = [1, 2, 3, 4]

numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [10]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)

print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [12]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]

print(1)

1

 10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [13]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()

print(numbers)

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [14]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [15]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]

print(second_to_last)

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [16]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)

print(min_number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [17]:
animals = ('dog', 'cat', 'rabbit')
index_cat = animals.index('cat')

print(index_cat)

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [18]:
fruits = ("apple", "banana", "orange")
is_kiwi_present = "kiwi" in fruits

print(is_kiwi_present)

False

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [19]:
my_set = {'a', 'b', 'c'}

print(my_set)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [20]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()

print(my_set)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [21]:
my_set = {1, 2, 3, 4}
my_set.remove(4)

print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [22]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [23]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)

print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [24]:
person = {
    "name": "John",
    "age": 25,
    "city": "New York"
}

print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [25]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [26]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']

print(name_value)

Alice

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [27]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']

print(person)

{'name': 'Bob', 'city': 'New York'}

25. 5. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [29]:
person = {'name': 'Alice', 'city': 'Paris'}
has_city = "city" in person

print(has_city)

True

26.  Write a code to create a list, a tuple, and a dictionary, and print them all

In [32]:
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')

my_dict = {'name': 'Alice', 'age': 30}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 30}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [33]:
import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()

print(random_numbers)

[43, 52, 75, 79, 93]

28.  Write a code to create a list with strings and print the element at the third index.

In [34]:
my_list = ["apple", "banana", "cherry", "date", "fig"]

print(my_list[3])

date

29.  Write a code to combine two dictionaries into one and print the result.# Define two dictionaries

In [35]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = dict1 | dict2

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [36]:
string_list = ["apple", "banana", "apple", "cherry", "banana"]
string_set = set(string_list)

print(string_set)

{'cherry', 'banana', 'apple'}